:root{
    --widthX: 10rem;
    --heightY: 3rem;
    --radius: 8px;
}
.body-index{ 
    display: block;
    text-align: center; 
}
h1 {
    font-size: 48px;
    color: #333;
    text-transform: uppercase;
}
.bloque1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--widthX);
    height: var(--heightY);
    background-color: #8d8d8d;
    border-radius: var(--radius);
}
.gridArea {
    display: grid;
    justify-content: center;
    align-items: center;
    
    place-items: center;
    padding: 30px; /* margen interno */
    margin: 15px; /* margen externo */
    gap: 15px;

    height: 100%;
    background-color: #e2e2e2;
    border-radius: var(--radius);

    grid-template-columns: repeat(auto-fill, minmax(var(--widthX),var(--heightY)));
    box-shadow:  var(--radius) var(--radius) 5px #d4d4d4;
}
.flexBloque {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* width: var(--widthX); */
    height: 100%;
    padding: 10px; /* margen interno */
    /*margin: 10px; /* margen externo */
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #464646;
    border-radius: var(--radius);
    gap: 10px;
}