:root{
  --colorB:#ffffff;
  --colorN:#000000;

  --colorRo0:#f4deea;

  --colorAz0:#e6f3ff;
  --colorAz1:#9dd1ff;
  --colorAz2:#3e8acc;
  --colorAz3:#1873b9;
  --colorAz4:#226699;
  --colorAz5:#2B2F33;

  --colorVe0:#a5ff9d;
  --colorVe1:#3ecc56;
  --colorVe2:#229948;
  --colorVe3:#2b6f4d;
  --colorVe4:#2b332e;

  --colorAm0:#fffbbe;
  --colorAm1:#fcff68;
  --colorAm2:#f5ff34;
  --colorAm3:#e7d300;
  --colorAm4:#e6bb00;
}